.App {
  text-align: center;
  background-image: url("https://free4kwallpapers.com/uploads/originals/2020/04/22/glazed-pokeball-planetx-wallpaper.png");
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  width: 100vw;
  min-height: 100vh;
}
