.Pokecard {
  color: black;
  background-color: goldenrod;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  max-width: 100%;
  max-height: 100%;
}

.Pokecard-back {
  background-image: url("https://cdn.bulbagarden.net/upload/1/17/Cardback.jpg");
  background-size: cover;
  border-radius: 15px;
  text-align: left;
}

.Pokecard img {
  border-top: 7px solid rgb(207, 155, 24);
  border-right: 5px solid rgb(207, 155, 24);
  border-top-right-radius: 5px;
  border-top-left-radius: 12px;
  background-color: rgb(241, 183, 34);
  width: 215px;
  height: 215px;
}
.Pokecard-data {
  text-align: center;
  color: white;
  font-size: 18px;
  margin: 2.5px;
  font-weight: bold;
  text-shadow: 2px 2px 1px black;
}

/* Flipping Animation */
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  /* border: 2px solid white; */
  border-radius: 2px;
  margin: 10px;
  text-align: left;
}
/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 250px;
  height: 350px;
  /* padding: 10px; */
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  /* position: relative; */
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
